﻿@{
    Layout = null;
}

<div class="container">
    <a class="alert-danger" asp-controller="Login" asp-action="IniciarSesion" class="nav-button" asp-controller="Login" asp-action="IniciarSesion">Sign In</a>

</div>

