@model ProyectoFinalDAMAgil.Scaffold.Centroeducativo

@{
    ViewData["Title"] = "Eliminar Centro Educativo";
}


<div class="card">
    <div class="card-header">
        Eliminar Contacto
    </div>
    <div class="card-body">


        <form asp-controller="Admin" asp-action="EliminarCentroPost" method="post">

            <input type="hidden" name="IdCentroEducativo" asp-for="IdCentro"/>

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el centro ?
                Nombre: @Html.DisplayTextFor(centro => centro.NombreCentro)
                Dirección: @Html.DisplayTextFor(centro => centro.Direccion)
            </div>

            <button type="submit" class="btn btn-danger">Elimnar</button>
            <a asp-controller="Admin" asp-action="ListarCentro" asp-route-id="@Model.IdCentro" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>