/* Estilos personalizados para la barra lateral */
#sidebar {
    height: 100vh;
    position: fixed;
    top: 56px; /* Altura de la barra de navegación */
    left: 0;
    width: 250px;
    transition: width 0.3s, transform 0.3s;
    overflow-x: hidden;
    z-index: 1000;
}

    #sidebar.collapsed {
        width: 80px;
    }

    #sidebar .nav-link {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #sidebar.collapsed .nav-link {
        text-align: center;
    }

        #sidebar.collapsed .nav-link span {
            display: none;
        }

#content {
    margin-left: 250px;
    transition: margin-left 0.3s;
    padding-top: 56px; /* Altura de la barra de navegación */
}

    #content.collapsed {
        margin-left: 80px;
    }

.navbar {
    z-index: 1050; /* Asegura que la barra de navegación esté sobre la barra lateral */
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

    .dropdown-menu.show {
        opacity: 1;
        visibility: visible;
    }

